<h2>
  Edit Card {{ nameCard }}
</h2>

<form action="/cards/edit" method="post">

  <input type="hidden" name="id" value="{{ id }}">

  {{!-- <label> Number of card:
    <input type="text" name="numbercard" value="{{ numbercard }}" />
  </label>

  <label> Name of card:
    <input type="text" name="namecard" value="{{ namecard }}" />
  </label> --}}

  <label> Categories:
    <input type="text" name="categories" value="{{ categories }}" />
  </label>

  <label> Description:
    <input type="text" name="description" value="{{ description }}" />
  </label>

  <button type="submit"> Edit </button>
  <button type="submit"> Delete </button>
</form>

<hr>

<a href="/cards/{{id}}">Cancel</a>