<h2>
  Edit Card {{ nameCard }}
</h2>

<form action="/cards/edit" method="post">

  <input type="hidden" name="id" value="{{ id }}">

  <label> Categories:
    <input type="text" name="categories" value="{{ categories }}" />
  </label>

  <label> Description:
    <input type="text" name="description" value="{{ description }}" />
  </label>

  <button type="submit"> SAVE </button>
</form>

<hr>

<a href="/cards/{{id}}">Cancel</a>